package com.dingjiaxiong.${module}.domain.entity;

import lombok.Data;

import java.io.Serializable;

/**
 * ${tableComment} bo
 *
 * @author ${author}
 * @since ${genDate}
 */
@Data
public class ${modelName}BO implements Serializable {
    #foreach($field in $fields)

    /**
     * ${field.comment}
     */
    private $field.type $field.name;
    #end

}

