<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingjiaxiong.subject.infra.basic.mapper.SubjectMultipleMapper">

    <resultMap id="BaseResultMap" type="com.dingjiaxiong.subject.infra.basic.entity.SubjectMultiple">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="subjectId" column="subject_id" jdbcType="BIGINT"/>
            <result property="optionType" column="option_type" jdbcType="BIGINT"/>
            <result property="optionContent" column="option_content" jdbcType="VARCHAR"/>
            <result property="isCorrect" column="is_correct" jdbcType="TINYINT"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,subject_id,option_type,
        option_content,is_correct,created_by,
        created_time,update_by,update_time,
        is_deleted
    </sql>

    <insert id="insertBatch">
        insert into subject_multiple(subject_id, option_type, option_content, is_correct, created_by, created_time,
        update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.subjectId}, #{entity.optionType}, #{entity.optionContent}, #{entity.isCorrect},
            #{entity.createdBy}, #{entity.createdTime}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
    </insert>

    <select id="queryAllByLimit" resultType="com.dingjiaxiong.subject.infra.basic.entity.SubjectMultiple">
        select
        id, subject_id, option_type, option_content, is_correct, created_by, created_time, update_by, update_time,
        is_deleted
        from subject_multiple
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="subjectId != null">
                and subject_id = #{subjectId}
            </if>
            <if test="optionType != null">
                and option_type = #{optionType}
            </if>
            <if test="optionContent != null and optionContent != ''">
                and option_content = #{optionContent}
            </if>
            <if test="isCorrect != null">
                and is_correct = #{isCorrect}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
    </select>
</mapper>
