<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingjiaxiong.subject.infra.basic.mapper.SubjectLabelMapper">

    <resultMap id="BaseResultMap" type="com.dingjiaxiong.subject.infra.basic.entity.SubjectLabel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="labelName" column="label_name" jdbcType="VARCHAR"/>
            <result property="sortNum" column="sort_num" jdbcType="INTEGER"/>
            <result property="categoryId" column="category_id" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,label_name,sort_num,
        category_id,created_by,created_time,
        update_by,update_time,is_deleted
    </sql>

    <select id="batchQueryById" resultType="com.dingjiaxiong.subject.infra.basic.entity.SubjectLabel">
        select
        id, label_name, sort_num,category_id, created_by, created_time, update_by, is_deleted, update_time
        from subject_label
        where id in
        <foreach open="(" close=")" collection="list" item="id" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
